<!DOCTYPE html>
<html lang="en"
    class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>{{{__ "main_site_title"}}}</title>
    <link rel="stylesheet"
        href="/css/main.css">
    <link rel="stylesheet"
        href="/libs/bootstrap/5.3.8/css/bootstrap.min.css">
    <meta property="og:title"
        content="{{{__ "main_site_title"}}}" />
    <meta name="description"
        content="{{{__ "main_site_description"}}}" />
    <meta property="og:description"
        content="{{{__ "main_site_description"}}}" />
    <meta property="og:type"
        content="website" />
    <meta property="og:url"
        content="https://invite.jointhefediverse.net/" />
    <meta property="og:image"
        content="https://invite.jointhefediverse.net/images/fediverse.png" />
    <meta property="og:image:alt"
        content="{{{__ "main_site_thumbnail_description"}}}" />
    <!--
        <link rel="apple-touch-icon"
        href="icons/apple-touch-icon.png"
        sizes="180x180">
    <link rel="icon"
        href="icons/favicon-32x32.png"
        sizes="32x32"
        type="image/png">
    <link rel="icon"
        href="icons/favicon-16x16.png"
        sizes="16x16"
        type="image/png">
    <link rel="manifest"
        href="icons/site.webmanifest">
    
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#712cf9">
    -->
    <link rel="icon"
        href="icons/favicon.ico">
    <!--
    <meta name="theme-color"
        content="#712cf9">
    -->
</head>

<body class="d-flex flex-column h-100 m-0 p-0">
    <script>
        const Cookies = {
            setCookie: (cookieName, cookieValue, maxAgeDays) => {
                maxAgeDays = maxAgeDays || 365;
                document.cookie = `${cookieName}=${cookieValue}; maxAge=${maxAgeDays || 24 * 60 * 60 * 1000
                    };path=/`;
            },
            getCookie: (cookieName) => {
                let name = cookieName + "=";
                let ca = document.cookie.split(";");
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == " ") {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            },
            checkCookie: () => {
                let user = getCookie("username");
                if (user != "") {
                    alert("Welcome again " + user);
                } else {
                    user = prompt("Please enter your name:", "");
                    if (user != "" && user != null) {
                        setCookie("username", user, 365);
                    }
                }
            },
        };

        const applyTheme = (theme) => {
            switch (theme) {
                case "light":
                    htmlElement.dataset.bsTheme = "light";
                    break;
                case "dark":
                    htmlElement.dataset.bsTheme = "dark";
                    break;
                case "auto":
                default:
                    const prefersDark = window.matchMedia(
                        "(prefers-color-scheme: dark)"
                    ).matches;
                    htmlElement.dataset.bsTheme = prefersDark ? "dark" : "light";
            }
        }

        const htmlElement = document.documentElement;
        const currentTheme = Cookies.getCookie("theme") || "auto";
        applyTheme(currentTheme);
  </script>
  <header class="w-100">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <div class="container-fluid">
                <div class="navbar-collapse collapse"
                    id="navbarCollapse"
                    style="">
                </div>
                <form id="language-switcher-wrapper"
                    class="d-flex gap-2 flex-row flex-md-column flex-lg-row">
                    <select id="theme-switcher"
                        class="form-select mt-2 w-auto">
                        <option value="auto">🌓 {{{__ "navigation_theme_auto"}}}</option>
                        <option value="light">☀️ {{{__ "navigation_theme_light"}}}</option>
                        <option value="dark">🌙 {{{__ "navigation_theme_dark"}}}</option>
                    </select>
                    <select id="language-switcher"
                        class="form-select mt-2 d-none">
                        <option style="display:none"></option>
                        {{#each translations}}
                        <option value="{{this.code}}">{{this.label}}</option>
                        {{/each}}
                        <option disabled value="coming-soon">More coming soon!</option>
                    </select>
                </form>

            </div>
        </nav>
    </header>
    <main class="flex-shrink-0 pt-5">
        <div class="container">
            {{{body}}}
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container my-5">
            <small>{{{__ "footer_description"}}}</small>
        </div>
    </footer>
        <script>
        window.translations = {
            accounts: "{{{__ 'main_starter_packs_accounts'}}}",
            explore: "{{{__ 'main_starter_packs_explore'}}}"
        };
        </script>
    <script type="module"
        src="/js/main.js"
        async></script>
    <script>{{{footer_scripts}}}</script>
</body>

</html>