<h1 class="mt-5">
  {{{__ "home_intro_title"}}}
</h1>
<p class="lead mt-5">
  {{{__ "home_intro_description"}}}
  {{{__ "home_intro_community"}}}
</p>
<div class="card mt-5">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="fw-bold lead">
          {{server_name}}
        </p>
      </div>
      <div class="col-12 col-md-6 text-md-end pb-4 pb-md-0">
        <span class="badge rounded-pill text-bg-info">{{server_post_count}} {{{__ "home_intro_community_post_count_label_plural"}}}</span>
        <span class="badge rounded-pill text-bg-success">{{server_user_count}} {{{__ "home_intro_community_user_count_label_plural"}}}</span>
      </div>
      <div class="col-12">
        <p class="lead">
          {{{server_description}}}
        </p>
        <p class="mt-5">
          <a class="btn btn-primary mb-3"
            href="{{server_url}}">{{{__ "home_cta_sign_up"}}}</a>
          <a class="btn btn-outline-primary mb-3"
            href="https://fedidb.com/welcome">{{{__ "home_cta_secondary"}}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
<p class="lead mt-5">
  {{#if show_one_app}}
    {{{__ "home_intro_apps_single"}}}
  {{else}}
    {{{__ "home_intro_apps_multiple"}}}
  {{/if}}
</p>

<div class="row mt-5">
  {{#each apps}}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
    <div class="card h-100">
      <div class="card-body">
        <span class="badge rounded-pill text-bg-info float-end fs-7">{{t platform}}</span>
        <h5 class="card-title">{{t name}}</h5>
        <p class="card-text fs-5">
          {{t description}}
          </p>
      </div>
      <div class="card-footer bg-body border-0 pb-3">
        <a href="{{get_link_url}}"
          class="fs-6 btn btn-primary">{{t get_link_label}}</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<p class="lead mt-5">
  {{{__ "home_popular_accounts_description"}}}
  <a href="https://most-followed-mastodon-accounts.stefanhayden.com/?server={{server_domain}}">{{{__ "home_popular_accounts_link_title"}}}</a>
  <a href="https://fedidevs.com/starter-packs/">{{{__ "home_starter_packs_link_title"}}}</a>.
</p>
<div id="starter-packs" class="row"></div>