<h1 class="mt-5">
  Join the fediverse!
</h1>
<p class="lead mt-5">
  The fediverse is made up of many communities that work together instead of competing. You can join any one of them and follow
  and interact with people across the entire fediverse with a single account.
</p>
<p class="lead mt-5">
  Here is one such community.
</p>
<div class="card mt-5">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="fw-bold lead">
          {{server_name}}
        </p>
      </div>
      <div class="col-12 col-md-6 text-md-end pb-4 pb-md-0">
        <span class="badge rounded-pill text-bg-info">{{server_post_count}} posts</span>
        <span class="badge rounded-pill text-bg-success">{{server_user_count}} active users</span>
      </div>
      <div class="col-12">
        <p class="lead">
          {{server_description}}
        </p>
        <p class="mt-5">
          <a class="btn btn-primary"
            href="{{server_url}}">Explore and sign up</a>
          <a class="btn btn-outline-primary"
            href="https://fedidb.com/welcome">Browse more servers</a>
        </p>
      </div>
    </div>
    <!--
        <img width="250"
          class="rounded bg-dark"
          src="{{server_thumbnail_url}}"
          alt="">
      -->
  </div>
</div>
<p class="lead mt-5">
  {{#if show_one_app}}
  And here is a great app you can use.
  {{else}}
  And here are just a few of the many apps that you can use.
  {{/if}}
</p>

<div class="row mt-5">
  {{#each apps}}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
    <div class="card h-100">
      <div class="card-body">
        <span class="badge rounded-pill text-bg-info float-end fs-6">{{platform}}</span>
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text fs-5">{{description}}</p>
      </div>
      <div class="card-footer bg-body border-0 pb-3">
        <a href="{{get_link_url}}"
          class="fs-6 btn btn-primary">{{get_link_title}}</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<p class="lead mt-5">
  Want to find more people to follow? Check out some of the <a
    href="https://most-followed-mastodon-accounts.stefanhayden.com/">popular accounts</a> and <a
    href="https://fedidevs.com/starter-packs/">starter packs</a>.
</p>
<div id="starter-packs"
  class="row"></div>